<br>
<div class="card border-info">
  <div class="card-header bg-info text-white">Gallery</div>
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
      <div class="form-group">
        <label>Mot cle: </label>
        <input type="text" name="motCle" ngModel required>
        <button type="submit" class="btn-primary btn">Chercher</button>
      </div>
    </form>
  </div>

  <div *ngFor="let im of pagePhotos?.hits">
    <div class="card border-info">
      <div class="card-header bg-info text-white">
        {{ im.tags }}
      </div>
      <div class="card-body">
        <img src="{{ im.previewURL }}" alt="">
      </div>
    </div>
  </div>
</div>