<br>
<div class="card border-info">
  <div class="card-header bg-info text-white">Gallery</div>
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
      <div class="form-group">
        <label>Mot cle: </label>
        <input type="text" name="motCle" ngModel required>
        <button [disabled]="!f.valid" type="submit" class="btn-primary btn">Chercher</button>
      </div>
    </form>
  </div>
<div class="row">
  <div *ngFor="let im of pagePhotos?.hits" class="col-md-3">
    <div class="card border-info img-card">
      <div class="card-header bg-info text-white">
        By: {{ im.user }}
      </div>
      <div class="card-body">
        <img src="{{ im.previewURL }}" alt="">
      </div>
    </div>
  </div>
</div>

</div>